{% extends "base.html" %}

{% block title %}Menu Categories{% endblock %}

{% block content %}
<h1>Menu Categories</h1>
<div class="center-content">
    <div class="category-grid">
        <a href="/category/Entree" class="category-button">Entree</a>
        <a href="/category/Side" class="category-button">Side</a>
        <a href="/category/Drink" class="category-button">Drink</a>
        <a href="/category/Dessert" class="category-button">Dessert</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}